<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoADSI2024.Properties.Settings.DB20212030388ConnectionString"
            connectionString="Data Source=3.128.144.165;Initial Catalog=DB20212030388;User ID=eugene.wu;Password=EW20212030388;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>